aiogram==2.19
aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.9.1
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.12
frozenlist==1.3.0
idna==3.3
multidict==6.0.2
pyaes==1.6.1
pyodbc==4.0.32
pypyodbc==1.3.6
PySocks==1.7.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
tzdata==2021.5
tzlocal==4.1
yarl==1.7.2
